<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>SecureShare Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<!-- Navbar -->

<nav class="navbar">

    <div class="logo">
        ☁ SecureShare
    </div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
    </div>

</nav>

<!-- Dashboard -->

<div class="dashboard-container">

    <div class="dashboard-header">

        <h1>Cloud Dashboard</h1>

        <p>
            Manage, Upload and Access Files Securely
        </p>

    </div>

    <!-- Stats -->

    <div class="dashboard-cards">

        <div class="dash-card">

            <div class="icon">📁</div>

            <h2>{{ files|length }}</h2>

            <p>Total Files</p>

        </div>

        <div class="dash-card">

            <div class="icon">☁</div>

            <h2>Online</h2>

            <p>MongoDB Atlas</p>

        </div>

        <div class="dash-card">

            <div class="icon">🔒</div>

            <h2>Secure</h2>

            <p>Cloud Storage</p>

        </div>

    </div>

    <!-- Upload Section -->

    <div class="upload-card">

        <h2>📤 Upload New File</h2>

        <form action="/upload"
              method="POST"
              enctype="multipart/form-data">

            <input type="file"
                   name="file"
                   required>

            <button type="submit">
                Upload File
            </button>

        </form>

    </div>

    <!-- Files Section -->

    <div class="files-card">

        <h2>📂 Uploaded Files</h2>

        {% if files %}

            {% for file in files %}

            <div class="modern-file-row">

                <div class="file-left">

                    <span class="file-icon">
                        📄
                    </span>

                    <span>
                        {{ file }}
                    </span>

                </div>

                <div class="file-actions">

                    <a href="/download/{{ file }}"
                       class="download-btn">
                        Download
                    </a>

                    <a href="/delete/{{ file }}"
                       class="delete-btn">
                        Delete
                    </a>

                </div>

            </div>

            {% endfor %}

        {% else %}

            <div class="empty-box">

                <h3>No Files Found</h3>

                <p>
                    Upload your first file to start.
                </p>

            </div>

        {% endif %}

    </div>

</div>

</body>
</html>