<!DOCTYPE html>
<html>
<head>
    <title>SecureShare</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar">
    <div class="logo">SecureShare</div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</nav>

<div class="hero">

    <h1>Secure File Transfer</h1>

    <p>
        Cloud-Based SaaS Platform for Secure File Upload,
        Storage and Sharing
    </p>

    <a href="/register" class="btn">
        Get Started
    </a>

</div>

</body>
</html>